.indices {
    position: fixed;
    right: 0;
    z-index: 502; 
    top: 0;
    background: white;
    border-left: #f2f2f2 5px solid;
    height: 100%;
    width: 15%;
    .content {
        height: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        .heading-tree {
            .heading {
                padding-top: 10px;
                padding-bottom: 10px;
                transition-duration: 0.2s;
                .buttonish;
                .text {
                    &.i-0 {
                        margin-left: 0.5em;
                    }
                    .loopingClass (@index) when (@index <= 6){
                      &.i-@{index} {
                          padding-left: ~"@{index}em";
                      }
                      .loopingClass(@index + 1);
                    }
                    .loopingClass(0);
                }
            }
        }
    }
    .handle {
        position: absolute;
        left: -6px;
        top: 0;
        bottom: 0;
        width: 12px;
        cursor: w-resize;
        display: flex;
        justify-content:center;
        align-items:center;
        .dragger {
            opacity: 0;
            color: grey;
            width: 24px;
            writing-mode: vertical-lr;
        }
    }
    &:hover .handle .dragger {
        opacity: 1;
    }
    .refreshButton {
        color: darkgray;
        font-size: smaller;
        text-align: center;
        padding: 0.5em;
        .buttonish;
    }
    .buttonish() {
        cursor: pointer;
        transition-duration: 0.2s;
        &:hover {
            background-color: #f2f2f2;
        }
    }
    * {
        user-select: none;
    }
}